/* Allgemeine Schriftfarbe */
.reveal {
    color: white;
}

/* Überschriften */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4 {
    color: white;
}

/* Tabellen */
.reveal table {
    color: white;
}

.reveal table th {
    color: white;
}

.reveal table td {
    color: white;
}