[Desktop Entry]
Type=Application
Name=Völk Digital Signage
Exec=sh -c 'sleep 60; chromium --kiosk --password-store=basic --use-mock-keychain --noerrdialogs --disable-infobars --check-for-update-interval=180 __START_URL__'
X-GNOME-Autostart-enabled=true
