{% extends "base.j2" %}

{% block slides %}
{% endblock %}

{% block javascript %}
<script>
    
    Reveal.initialize({
        width: '100%',
        height: '100%',
        margin: 0.04,
        autoSlide: {{ tournament_display_duration }},
        loop: true,
        controls: false,
        progress: false,
        transition: 'fade',
        autoSlideStoppable: false
    });

    setInterval(() => {
        document.querySelectorAll('.tournament-slide iframe').forEach(widget => {
            widget.src = widget.src;
        });
    }, 60000);

</script>
{% endblock %}