<section class="tournament-slide" data-autoslide="{{ tournament_display_duration }}">
    <h1>Gruppe {{ group.label }}</h1>
    <div class="group-widget-grid">
        <div>
            <h2>Tabelle</h2>
            <iframe class="group-table-widget" title="Rangliste Gruppe {{ group.label }}" src="{{ group.table_url }}"></iframe>
            <div class="table-legend">
                <div><span>Pl</span><span>Platzierung</span></div>
                <div><span>Sp</span><span>Gespielte Spiele</span></div>
                <div><span>S</span><span>Siege</span></div>
                <div><span>U</span><span>Unentschieden</span></div>
                <div><span>N</span><span>Niederlagen</span></div>
                <div><span>T</span><span>Tore</span></div>
                <div><span>TD</span><span>Tordifferenz</span></div>
                <div><span>Pkt</span><span>Punkte</span></div>
            </div>
        </div>
        <div>
            <h2>Spiele der Gruppe</h2>
            <iframe class="group-matches-widget" title="Spiele Gruppe {{ group.label }}" src="{{ group.matches_url }}"></iframe>
        </div>
    </div>
</section>