<section class="tournament-slide current-matches-slide">
    <h1>Gruppenspiele</h1>
    <iframe class="current-matches-widget" title="Spiele {{ page.start }} bis {{ page.end }}" src="{{ page.url }}"
        allowtransparency="true" frameborder="0"></iframe>
</section>


<section class="tournament-slide current-matches-slide">
    <h1>Finalspiele</h1>
    <iframe class="current-matches-widget" title="Finalspiele {{ page.start }} bis {{ page.end }}" src="{{ page.url }}"
        allowtransparency="true" frameborder="0"></iframe>
</section>